body 
{ 
  overflow: hidden; 
  background-color: #101010;
}

div
{ 
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1
{
  padding-top: 15px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  color: gray;
}

h2 
{
  padding-top: 0px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  color: white;
}